.couple-img img{
    width: 100%;
}

.couple-img img{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border:10px solid #f4b7f7;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.couple-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.couple-img{
    text-align: center;
    margin-bottom: 20px;
}
.couple-text{
    text-align: center;
    max-width: 400px;
    margin: auto;
}
.couple-content h3{
 font-size: 30px;
 color:#414141;
}
.couple-wrap-2{
    position: relative;
}

.couple-wrap-3{
    position: relative;
}

.about-wrap.s2 .couple-img img{
  border-radius: 5px;
}